{% extends "layout.html" %}

{% block content %}
<!-- Contenido principal -->
<div class="container mt-5 bg-body-tertiary p-4">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to My WebApp</h1>
        <p class="lead">This is a web application built with Python and Flask, designed using Bootstrap.</p>
        <hr class="my-4">
        <p>Start exploring our application and discover everything we can offer you.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Explore</a>
    </div>
</div>

{% endblock %}