{% extends "layout.html" %}

<!-- For the About page -->
{% block content %}
<div class="container mt-5  bg-body-tertiary p-4">
    <h2>About me: Esteban Albarrán Tirado</h2>
    <p>I'm studying Development of Multimedia Applications (DAM), and this is a test web application I've created to explore Python, Flask, and Bootstrap as part of my summer projects.</p>
    
    <h3>Personal Information</h3>
    <ul>
        <li><strong>Name:</strong> Esteban Albarrán Tirado</li>
        <li><strong>Profession:</strong> Developer of Multimedia Applications (DAM)</li>
    </ul>
    
    <h3>Summer Projects</h3>
    <p>During my summer projects, I've been exploring python enviroment and I wanted to end by testing web technologies and developing web application using python to learn and enhance my skills as a developer. This application is made with Flask but would be pretty the same as using Reflex</p>
    
    <ul>
        <li>Test Web Project with Python, Flask, and Bootstrap</li>
        <!-- If more projects here -->
    </ul>
    
    <h3>Contact</h3>
    <p>If you'd like to get in touch with me or learn more about my projects, you can find me at:</p>
    <ul>
        <li><strong>Email:</strong> estebanalbarran1996@gmail.com</li>
        <li><strong>GitHub:</strong> <a href="https://github.com/Shylex96" target="_blank">https://github.com/Shylex96</a></li>
        <!-- Add more contact information here -->
    </ul>
</div>
{% endblock %}